@charset "utf-8";
/* CSS Document */

h1 {
	color: greenyellow;
	font-weight: bolder;
}

h2 {
	background-color: cyan;
	color: slategrey;
}
p{
	background-color: cyan;
}

h3{
	color: darkmagenta;
}
h2{color: black;
}
p {
	color: darkviolet;
}